#menu
{
  margin: 10px 0px 0px 0px;
  padding: 0px;
  background: #ecf1f9;
}

#menu ul
{
  list-style-type: none; 
  white-space: nowrap;
  width: 740px;
  margin: 0px;
  padding: 0px;
}

#menu li
{
  display: inline;
  margin: 0px;
  padding: 0px;
}

#menu a
{
  margin: 0px;
  padding: 0px 10px;
  color: #1177e9;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

#menu a:hover, #menu a:visited:hover
{
  background: #a3c4e9;
}
